<section class="flex lg:inline-block">
        <button class="p-4 m-6 md:h-20 border-red-100 bg-red-300">
            <p>Add to cart</p>
        </button>
        <section class="p-4 m-6 md:h-20 border-green-100 bg-green-400 text-center">
            <p class="p-2">{{price_tag}}</p>
        </section>
</section>