<section class="flex flex-wrap lg:inline-block text-white align-middle text-center float-right">
        <section class="p-4 m-6  border-green-100 bg-green-400 text-center">
            <span class="p-2">{{price_tag}}</span>
        </section>
        <button class="p-4 m-6 md:h-20 border-red-100 bg-red-300">
            <p>Add to cart</p>
        </button>
</section>