<section class="inline-flex flex-wrap md:inline-block align-middle text-center float-right">
    <section class="p-4 m-6 text-center text-black float-left lg:float-none border-gray border-2 rounded-xl">
        <span class="p-2">{{price_tag}}</span>
    </section>
    <button class="text-white p-4 m-6 float-right lg:float-none bg-yellow-600 hover:bg-yellow-700 rounded-xl" >
       <ion-icon size="large" name="bag-add-outline"></ion-icon> <p  class="self-center">Añadir a la orden</p>
    </button>
</section>