<section class="card">
  <section class="bg-gradient-to-r from-gray-400 via-gray-200 to-gray-400 w-full mb-4">
    <h3>{{card_title}}</h3>
    <button class="text-white p-4 mt-10 float-right bg-yellow-600 hover:bg-yellow-700 rounded-xl text-base" >
      <a href="{{card_uri}}">Detalles</a>
    </button>
  </section>
  
        <img src="{{product_imgl}}" alt="{{product_name}}">

</section>
