<section class="flex flex-wrap justify-between">
    {{#> cards/productimgs product_imgp1=categoria.comestibles.subcategoria.bebidas.0.img.gal1s
    product_imgm1=categoria.comestibles.subcategoria.bebidas.0.img.gal1m
    product_imgl1=categoria.comestibles.subcategoria.bebidas.0.img.gal1l
    product_imgp2=categoria.comestibles.subcategoria.bebidas.0.img.gal2s
    product_imgm2=categoria.comestibles.subcategoria.bebidas.0.img.gal2m
    product_imgl2=categoria.comestibles.subcategoria.bebidas.0.img.gal2l
    product_imgp3=categoria.comestibles.subcategoria.bebidas.0.img.gal3s
    product_imgm3=categoria.comestibles.subcategoria.bebidas.0.img.gal3m
    product_imgl3=categoria.comestibles.subcategoria.bebidas.0.img.gal3l}}
    {{/cards/productimgs}}
</section>
<section class="flex flex-wrap justify-between">
    {{#> cards/tarjetita }}
    {{/cards/tarjetita}}
</section>
<section class="flex flex-wrap justify-between">
    {{#> cards/buttons price_tag=categoria.comestibles.subcategoria.bebidas.0.Precio}}
    {{/cards/buttons}}
</section>