<section class="bg-red-500 border-gray border-2 rounded-3xl text-center align-middle ">
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugiat recusandae, obcaecati praesentium omnis tempora
        maxime temporibus architecto nam eius repudiandae quas beatae blanditiis? Molestias, vero. Inventore
        reprehenderit optio libero perspiciatis?</p>
    <button class="previous hover:text-gray-600 opacity-50 text-3xl">&#9664;</button>
</section>