<section class="my-3 bg-gradient-to-r from-purple-400 via-pink-500 to-red-500 rounded-lg inline-block flex-wrap justify-between w-full  lg:w-5/12 lg:inline-flex">
    <h1 class="text-center m-5 text-4xl capitalize font-bold">{{titulo}}</h1>
    <section class="m-5 p-5 text-justify text-xl ">
        <p>{{contenido_tarjeta}}</p>

    </section>
</section>
