<section class="my-3 bg-gradient-to-r from-gray-400 via-gray-200 to-gray-400 rounded-lg inline-block flex-wrap justify-between w-full  lg:w-5/12 lg:inline-flex">
    <h1 class="text-center m-3 text-2xl capitalize font-bold">{{titulo}}</h1>
    <section class="m-3 text-justify text-xl">
        <p>{{contenido_tarjeta}}</p>

    </section>
</section>
