<!doctype html>
<html>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="main.css"/>
  <link rel="stylesheet" href="imgs/style2.css"/>
  <link rel="icon" type="image/ico" href="imgs/granito.ico" />
  <script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>
  {{#if page_title}}
    <title>{{page_title}}</title>
  {{else}}
    <title>{{site_title}}</title>
  {{/if}}
</head>

<body class="min-h-screen flex flex-col">
  <header>
    {{#> header-block}}
      {{> nav/topnav}}
    {{/header-block}}
  </header>
  <main class="xl:container container mx-auto flex-grow">
    {{#> main-block }}

    {{/main-block}}
  </main>
  <footer class=" text-white mt-4" style="background-color: #2e1200;">
    <section class="flex flex-col md:flex-row justify-between">
    {{> footer/footer}}
    </section>
  </footer>
  <script src="bundle.js"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
  <script src="imgs/controladores.js"></script>
  {{#> scripts-block}}
  {{/scripts-block}}
</body>

</html>
