{{#> layouts/basic page_title="Detalle productos"}}

    {{#*inline "main-block"}}
    <main class="flex p-20">
            <section class="">
                    <section class="flex  flex-wrap justify-between container">
                        <section class="shadow-lg border-2">
                            <img alt="cat gourmet" src="imgs/hola.png"  class="p-10"/>
                            <form>
                                    <div class="places">
                                        <input onclick="cambios(1)" type="radio" name="h">
                                        <input onclick="cambios(2)" type="radio" name="h">
                                        <input onclick="cambios(3)" type="radio" name="h">
                                    </div>
                            </form>
                        </section>
                </section>
            </section>
            
            <section class=" m-20 p-5 bg-gradient-to-r from-purple-400 via-pink-500 to-red-500 rounded-lg ">
                <h1 class="text-center m-5 text-4xl capitalize font-bold">Detalle productos</h1>
                <section class="m-5 p-5 text-justify text-xl ">
                    <h1>Pulsera de Corazón</h1>
                    <p>
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cum adipisci ut est quae, <br> 
                        dolores et dolorum officia expedita repellendus natus veritatis nam aspernatur labore!<br> 
                        Ad error expedita magnam repudiandae id!
                    </p>
                    
                </section>
            </section>
        </main>
    {{/inline}}

{{/layouts/basic}}