{{#> layouts/basic}}
  {{#*inline "main-block" }}
    <section class="flex flex-wrap justify-between">
            {{#> cards/productdtls }}
            {{/cards/productdtls}}
    </section>
    <section class="flex flex-wrap justify-between container  text-center align-center border-gray border-2 rounded-3xl">
        <div class="w-full p-full hidden lg:block"><h2 class="hidden m-0 p-0 lg:block">Productos Relacionados</h2></div>

        {{#each categoria.comestibles.subcategoria.bebidas}}
            {{#> cards/productrel product_uri=uri product_imgp=img.peque product_imgm=img.med product_imgl=img.grand product_name=title}}
            {{/cards/productrel}}
        {{/each}}
    </section>
  {{/inline}}
{{/layouts/basic}}