{{#> layouts/basic}}
  {{#*inline "main-block" }}
    <h1 class="lg:justify-center">Cátalogo de productos</h1>
    <section class="flex flex-wrap justify-between container align-center ">
     {{#each categoria.comestibles.subcategoria.bebidas}}
        {{#> cards/cards card_title=title card_uri=uri product_imgp=img.peque product_imgm=img.med product_imgl=img.grand product_name=title}}
        {{/cards/cards}}
      {{/each}}
    </section>

    <section class="flex flex-wrap justify-between container">
      {{#each categoria.comestibles.subcategoria.comidas}}
        {{#> cards/cards card_title=title card_uri=uri product_imgp=img.peque product_imgm=img.med product_imgl=img.grand product_name=title}}
        {{/cards/cards}}
      {{/each}}
    </section>
    <section class="flex flex-wrap justify-between container">
      {{#each categoria.accesorios.subcategoria.termos}}
      {{#> cards/cards card_title=title card_uri=uri product_imgp=img.peque product_imgm=img.med product_imgl=img.grand product_name=title}}
      {{/cards/cards}}
      {{/each}}
    </section>
  {{/inline}}
{{/layouts/basic}}
